body{
	margin: 0;
	background-image: url("../img/fondo.png");
	padding-bottom: 50px;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
footer{
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	float: left;
}
.detail_info{
	background-color: #ffffff;
	text-align: center;
	max-width: 800px;
	margin: 1em auto;
	padding: 3em;
	border-radius: 10px;
}
.detail_info h1{
	padding-bottom: 1em;
}
.detail_info img{
	width: 100%;
	padding-top: 3em;
}
.evento_en_curso{
	color: #68f442;
}
.evento_pasado{
	color: #ff0000;
}
.fuente_archivos_media{
	font-size:10px;
}
.full_height{
	height: 100%;
}
.lista_items_principal{
	list-style-type: none;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	
}
.lista_items_principal li{
	margin: 0.5em;
	margin-right: 0;
	margin-left: 0;
	margin-top: 2em;
}
.lista_items_principal li a{
	color: #ffffff;
	background-color: #b7b7b7;
	text-decoration: none;
	display: block;
	padding: 1em;
	
}
.lista_items_principal li a:hover{
	color: #000000;
	background-color: #ffffff;
}
.lista_noticias {
	display: inline-block !important;
	width: 80%;
}
.logo_personalizado, .boton_personalizado{
	color: #ffffff !important;
}
.material_design_arrow{
	background-color: #000000;
	padding: 10px;
	border-radius: 10px;
	color: #9d9d9d;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}
.material_design_arrow:hover{
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
}
.margin_bottom_for_footer{
	margin-bottom: 7%;
}
.mostrar{
	display: block;
}
.ocultar{
	display: none;
}
#pagination_noticias{
	display: table;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
#pagination_noticias li a {
	margin: 0.5em 0;
}
#pagination_noticias li span {
	margin: 0.5em 0;
}
.perfil_piloto{
	max-width: 200px;
}
footer{
	background-color: #000000;
	color: #ffffff;
	padding: 1em;
}
.scrollToTop{
    	width:50px; 
    	height:50px;
    	padding:15px; 
    	text-align:center; 
    	background-color: #000000;
    	font-weight: bold;
    	color: #FFFFFF;
    	text-decoration: none;
    	position:fixed;
    	bottom:30px;
    	right:40px;
    	display:none;
    	border-radius:30px;
	text-decoration:none;
}
.scrollToTop:hover{
    	text-decoration:none;
	background-color: #FFFFFF;
	color: #000000;
}

.site-menu-container ul{
	list-style-type: none;
	width: 80%;
	display: inline-block;
}
.site-menu-container ul li{
	display: inline-block;
	padding: 0 1em;
}
.site-menu li a{
	text-decoration: none;
	color: #ffffff;
	padding: 1em;
}
.site-menu li a:hover{
	background-color: #ffffff;
	color: #000000;

}
.titular_pagina_listado{
	color: #ffffff;
}
.twitter-share-button-rendered {
	margin-top: 1em;
	margin-left: -4em;
}
@media only screen and (max-width: 720px){
	/*footer{
		height: 80px;
	}
	*/
	.lista_noticias{
		width: 100%;
	}
	.margin_bottom_for_footer{
		margin-bottom: 15%;
	}
	.scrollToTop{
		width:100%;
            	height:50px;
            	padding:15px;
            	text-align:center;
            	background-color: #000000;
            	font-weight: bold;
            	color: #FFFFFF;
            	text-decoration: none;
            	position:fixed;
            	bottom:0;
	   	right:0;
            	display:none;
	    	border-radius:0;
    	}
	.scrollToTop:hover{
	    	background-color: #FFFFFF;
		color: #000000;
	}
}
