{% extends "base.html" %}

{% block page_title %}
	{{ piloto.nombre }}
{% endblock %}
{% block content%}
	<div class="container">
		<a class="material_design_arrow" href="/pilotos">&lt; Pilotos</a>
	</div>
	<div class="detail_info">
		<p class="lang_icon_first"><a href="/pilotos/{{ piloto.slug }}"><img src="/media/es_flag.jpg"></a></p>
                <p class="lang_icon_second"><a href="/riders/{{ piloto.slug }}"><img src="/media/uk_flag.jpg"></a></p>
		{% if piloto.perfil_piloto  %}
			<p><img class="perfil_piloto" alt="{{piloto.nombre}}" src={{ piloto.perfil_piloto.url }}></p>
			<p class="fuente_archivos_media">Fuente: {{ piloto.fuente  }}</p>
		{% endif %}	
		<h1>{{ piloto.nombre }} | {{ piloto.numero_dorsal }}</h1>
		<h4><a href="/equipos/{{ piloto.equipo.slug}}">{{ piloto.equipo  }}</a></h4>
		{{ piloto.biografia|safe }}
	</div>
		
{% endblock %}
</body>
</html>
