{% extends "base.html" %}

{% block page_title %}
	{{ piloto.nombre }}
{% endblock %}
{% block content%}
	<div class="container">
		<a class="material_design_arrow" href="/pilotos">&lt; Pilotos</a>
	</div>
	<div class="detail_info">
		{% if piloto.perfil_piloto  %}
			<p><img class="perfil_piloto" alt="{{piloto.nombre}}" src={{ piloto.perfil_piloto.url }}></p>
			<p class="fuente_archivos_media">Fuente: {{ piloto.fuente  }}</p>
		{% endif %}	
		<h1>{{ piloto.nombre }} | {{ piloto.numero_dorsal }}</h1>
		<h2><a href="/equipos/{{ piloto.equipo.slug}}">{{ piloto.equipo  }}</a></h2>
		{{ piloto.biografia|safe }}
	</div>
		
{% endblock %}
</body>
</html>
