{% extends "base.html" %}

{% block page_title %}
	Equipos participantes en el campeonato de MotoGP
{% endblock %}
	{% block content%}
		<ul class="lista_items_principal">
			{% for equipo in object_list %}
				<li class="col-xs-12 col-sm-6 col-md-4">
					<div class="contenedor-carta" data-url="{% url "equipos:detalle" equipo.slug %}">
						<img src="{{ equipo.imagen_equipo.url }}">
						<a href="{% url "equipos:detalle" equipo.slug %}">
							{{ equipo.nombre }}
						</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endblock %}
	
</body>
</html>
