{% extends "base.html" %}

{% block page_title %}
       Sobre nosotros
{% endblock %}
{% block content%}
        <div class="detail_info">
                <h1>Sobre nosotros</h1>
                <p class="lang_icon_first"><a href="/sobre_nosotros"><img src="/media/es_flag.jpg"></a></p>
                <p class="lang_icon_second"><a href="/about_us"><img src="/media/uk_flag.jpg"></a></p>
		<p>Somos una pareja de fans de MotoGP, que un 25 de octubre de 2015 vio la necesidad de un portal
que recogiera las últimas noticias de este deporte tras el famoso Sepang clash. Añadiendo algo de
información sobre los pilotos y demás, fue como nació esta web.</p>
        </div>

{% endblock %}
</body>
</html>
